html {
  font-size: 36px;
}

button {
  font-size: 1rem;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  color: #264653;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

strong.O {
  color: #2A9D8F;
}

strong.X {
  color: #E78F51;
}

.board {
  width: 10.625rem;
  margin-top: 1.5625rem;
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}
.board.gameOver {
  opacity: 0.3;
}

.cell {
  width: 3.125rem;
  height: 3.125rem;
  background-color: white;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0.125rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  box-shadow: 1px 1px 1px 1px #999;
}

.cell.O {
  background-color: #2A9D8F;
}

.cell.X {
  background-color: #E78F51;
}